* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

.header {
    display: block;
    padding: 20px;
    margin-bottom: 25px;
    text-align: center;
    color: #ffffff;
    background: #9db8c7;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

fieldset {
    margin: auto auto 20px auto;
    text-align: center;
    width: 40%;
}

legend {
    text-align: start;
    margin-left: 15%;
    border-style: solid;
    border-width: 1px;
    text-transform: lowercase;
}

p {
    margin: 5px;
}

.choose {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    margin-inline: 22px;
}

.bubble {
    margin-inline: 5px;
}

.personal {
    display: grid;
    width: 50%;
    margin: 0 auto;
    padding: auto 0;
}

.group {
    display: flex;
    justify-content: center;

    }

.status, .date {
    display: grid;
    width: 24%;
    margin-inline: 5px;
    padding: 0;

}

.comments {
    display: grid;
    width: 50%;
    margin: 0 auto;
    padding: auto 0;
}

.news-terms {
    margin: 0 auto;
    display: flex;
    width: 50%;
    text: wrap;

}

.newsletter, .terms {
    font-size: 14px;
    display: grid;
    margin-inline: 5px;
}

.submit {
    display: flex;
    background: #9db8c7;
	color: white;
    border-style: outset;
	border-color: #4d7186;
	font: bold15px arial,sans-serif;
	text-shadow: none;
    width: 40%;
    justify-content: center;
    margin: 0 auto;
}
